<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673291438053-maqm8ishj6m0b8890g4m9j07kvocodm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673291438053-maqm8ishj6m0b8890g4m9j07kvocodm0</string>
	<key>API_KEY</key>
	<string>AIzaSyBumRow5RvXhNOsejzWbe0AGe2XiVMbT1k</string>
	<key>GCM_SENDER_ID</key>
	<string>673291438053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nBaz</string>
	<key>PROJECT_ID</key>
	<string>flutter-semester-project</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-semester-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673291438053:ios:ae54252c14a8ac171a910c</string>
</dict>
</plist>